*{
  background-color: rgb(54, 50, 50);
  
}
html {
  font-size: 14px;
  min-height: 100%;
  
}
body{
  background-color: rgb(117, 117, 117);
}


@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  margin: 10px;
  padding: 10px;
  
}
body header{
  background-color: rgb(16, 133, 26);
  font-size: large; 
}
h1{
  background-color: rgb(81, 82, 81);
}
footer {
  margin-top: 10px;
  padding: 10px;  
  background-color: rgb(16, 133, 26);
  border-top: 1px solid #e9ecef;
  clear: both;
}
div img {
  float: left;
  margin: 10px;
  border: 2px solid black;
  height: 300px;
  width: 300px;
  padding: 10px;
}
